<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<div th:insert="~{fragments/navbar.html :: navbar}"></div>
<div class="container mt-5">
    <h1>Error</h1>
    <p>Something went wrong. Please try again.</p>
    <a href="/" class="btn btn-primary">Home</a>
</div>
</body>
</html>
